body{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box; 
    flex-wrap: wrap;
}   

a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin: 20px;
        
}

nav li {
    display: inline;
    align-items: center;
}

.logo{
    display: flex;
    margin: 15px;
    align-items: center;
}

header{
    
    background-color: rgba(153, 153, 153, 1);
    display: flex;
    height: 70px;
    justify-content: space-between;
    padding: 10px ;
    padding-top: 0px;
    padding-bottom: 60px
}

nav li a:hover{
    color: rgb(255, 254, 254);
    text-decoration: underline;
}

.cursos{
    color:white;
    background-color: black;
    padding-top: 15px;
    padding-right: 35px;
    padding-bottom: 15px;
    padding-left:35px;
    border-radius: 10px;
   
}

.cursos:hover{
    background-color: rgba(85, 82, 82, 1);
    text-decoration: none;
}
section{
    margin: 80px;
    justify-content: center;
}
h1 {
    font-size: 60px;
}
input{
    display: flex;
}
.nombre{
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 5px;
    padding-right: 200px;
    border-radius: 5px;

}
select{
    padding: 5px;
    border-radius: 5px;
}
.id{
    display: flex;
    margin-top: 5px;
    margin-bottom:20px ;
    padding: 5px;
    padding-right: 200px;
    border-radius: 5px;
    
}
.correo{
    display: flex;
    margin-top: 10px ;
    padding: 5px;
    padding-right: 200px;
    margin-bottom:20px;
    border-radius: 5px;
}
.pregunta{
    display: flex;
    margin-top: 10px;
    padding: 10px 410px 130px 10px;
    border-radius: 5px;
}

.acceso {
    display: flex;
    margin:-500px 30px 0px 900px;
    background-color: white;
    padding: 55px 0px 55px 50px ;
    border-radius: 9px;
    box-shadow: 0px 0px 10px 2px rgb(229, 225, 225);
}
button{
    color: white;
    background-color: black;
    height: 40px;
    width: 380px;
    border-radius:7px;
    margin: 40px 120px 250px 930px;
}

.precio{
    display: flex;
    text-align: center;
    font-size: 40px;
    margin-top: 10px;
}
footer {
    display: flex;
    color:rgb(109, 105, 105);
    background-color: black;
    justify-content: center;
    text-align: center;
}
.iconos {
    display: flex; 
    justify-content: center; 
}
.img1{
    display:flex;
    height: 20px;
    width: 20px;
    margin: 10px;
}