body{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box; 
    flex-wrap: wrap;
}   

nav li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin: 20px;
        
}

nav li {
    display: inline;
    align-items: center;
}
.imgLo{
    width: 250px;
    display: flex;
    margin-top: -100px;
    align-items: center;
}

header{
    
    background-color: rgba(153, 153, 153, 1);
    display: flex;
    height: 70px;
    justify-content: space-between;
    padding: 10px ;
    padding-top: 40px;
    padding-bottom: 30px
}

nav li a:hover{
    color: rgb(255, 254, 254);
    text-decoration: underline;
    

}


.cursos{
    color:white;
    background-color: black;
    padding-top: 15px;
    padding-right: 35px;
    padding-bottom: 15px;
    padding-left:35px;
    border-radius: 10px;
   
}

.cursos:hover{
    background-color: rgba(85, 82, 82, 1);
    text-decoration: none;
}
/*Section*/

section{
    padding:20px;
    
    
}
.titulo{
    display: flex;
    font-family:Arial, Helvetica, sans-serif;
    margin: 45px;
    justify-content: center;
    font-size: 35px;
    margin-bottom: 150px;
}

p{
    display: flex;
    text-align:center
}

a{
    color:black;
}

a:hover{
    color:grey

}

.arbol a p {
    display: flex;
    text-align:center;   
}

.arbol{
    margin-left:390px;
}
.textAr{
    margin-left: 300px;
}
.caballo{
    margin-top: -450px;
    margin-left: 1030px;
}
.textCa{
    margin-top: -430px;
    margin-left: 930px;
}
.imgAr{
    height:342px;
    width:598px;
    margin-left: 110px
}
.ojo{
    margin-top: 50px;
    margin-left: 400px;
}
.textO{
    margin-left:270px;

}
.periquito{
    margin-top: -500px;
    margin-left: 1030px;
}
.textP{
    margin-top: -480px;
    margin-left: 950px;
}


.img2{
    display: flex;
    height:342px;
    width:598px;
    margin-top: -380px;
    margin-left: 760px;
    

}

.img3{
    display: flex;
    height:342px;
    width:598px;
    margin-left: 110px;
    margin-top: 10px;
    margin-bottom: 50px;
}

.img4{
    display: flex;
    height:342px;
    width:598px;
    margin-left: 760px;
    margin-top: -400px;
    margin-bottom: 50px;   
}

footer {
    display: flex;
    color:rgb(109, 105, 105);
    background-color: black;
    justify-content: center;
    text-align: center;

    
}
.iconos {
    display: flex; 
    justify-content: center; 
}
.img1{
    display:flex;
    height: 20px;
    width: 20px;
    margin: 10px;
}