body{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box; 
    flex-wrap: wrap;
}   

a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin: 20px;
        
}

nav li {
    display: inline;
    align-items: center;
}

.logo{
    display: flex;
    margin: 15px;
    align-items: center;
}

header{
    
    background-color: rgba(153, 153, 153, 1);
    display: flex;
    height: 90px;
    justify-content: space-between;
    padding: 10px ;
}


.cursos{
    color:white;
    background-color: black;
    padding-top: 15px;
    padding-right: 35px;
    padding-bottom: 15px;
    padding-left:35px;
    border-radius: 10px;
   
}

.cursos:hover{
    background-color: rgba(85, 82, 82, 1);
    text-decoration: none;
}


section{
    margin: 45px;

}

.titulo{
    display: flex;
    font-family:Arial, Helvetica, sans-serif;
    margin: 45px;
    justify-content: center;
    font-size: 35px;
    margin-bottom: 0px;
}

h2{
    font-size: 25px;
}


p{
    font-size: 18px;
    line-height: 1.4;
}


.img_his{
    padding: 30px;
    margin-left:40px;
}
nav a{
    font-weight: 200px;
    padding-right: 10px;
    

}
nav li a:hover{
    color: rgb(255, 254, 254);
    text-decoration: underline;
    

}
footer {
    display: flex;
    color:rgba(85, 82, 82, 1);
    background-color: black;
    height: 150px;
    padding: 10px;
    align-items:center ;
    justify-content: center;
    justify-content: space-around;
    justify-content: space-around;
  

    
}


.iconos {
    display: flex;
    justify-content: space-between;
    justify-content: center;
    margin: 5px;
   

    
}
 footer .siguenos{
    display: flex;
    justify-content: center;
    font-weight: 200px;
    padding-right: 10px;
    
 }
