body{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box; 
    flex-wrap: wrap;
}   

a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin: 20px;
        
}

nav li {
    display: inline;
}

.imgLo{
    width: 250px;
    display: flex;
    margin-top: -100px;
    align-items: center;
}

header{
    
    background-color: rgba(153, 153, 153, 1);
    display: flex;
    height: 70px;
    justify-content: space-between;
    padding: 10px;
    padding-top: 40px;
    padding-bottom: 30px
}


.cursos{
    color:white;
    background-color: black;
    padding-top: 15px;
    padding-right: 35px;
    padding-bottom: 15px;
    padding-left:35px;
    border-radius: 10px;
   
}

.cursos:hover{
    background-color: rgba(85, 82, 82, 1);
    text-decoration: none;
}
/*Section*/

section{
    margin: 80px;

}

.titulo{
    display: flex;
    font-family:Arial, Helvetica, sans-serif;
    margin: 45px;
    text-align: center;
    font-size: 35px;
    margin-bottom: 0px;

}


.resaltar{
    color: rgba(69, 67, 67, 1);
    font-size: 21px;
}

.texto p{
    padding: 20px;
    font-size: 18px;
    line-height: 1.4;


}

.img{
    height: 590px;
    width: 430px;
    padding: 30px;
    margin-top: -800px;
    margin-left: 820px;
}
nav a{
    font-weight: 200px;
    padding-right: 10px;
    

}
nav li a:hover{
    color: rgb(255, 254, 254);
    text-decoration: underline;
    

}
footer {
    display: flex;
    color:rgb(109, 105, 105);
    background-color: black;
    justify-content: center;
    text-align: center;

    
}
.iconos {
    display: flex; 
    justify-content: center; 
}
.img1{
    display:flex;
    height: 20px;
    width: 20px;
    margin: 10px;
}



/*Text aling: center